<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.antoine.mynews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controlers.Activity.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controlers.Activity.SearchArticles"
            android:label="Search Articles"
            android:parentActivityName=".Controlers.Activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controlers.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Controlers.Activity.WebViewActivity"
            android:label="New York Times"
            android:parentActivityName=".Controlers.Activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controlers.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Controlers.Activity.NotificationActivity"
            android:label="Notifications"
            android:parentActivityName=".Controlers.Activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controlers.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Controlers.Activity.ViewSearchActivity"
            android:label="Search Articles"
            android:parentActivityName=".Controlers.Activity.SearchArticles"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controlers.Activity.MainActivity" />
        </activity>

        <receiver android:name=".Utils.NotificationAlarm" />

        <activity android:name=".Controlers.Activity.DrawerViewArticleActivity"
            android:parentActivityName=".Controlers.Activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controlers.Activity.MainActivity" />
        </activity>
    </application>

</manifest>